<div class="card h-100 border-0">
    <img [src]="producto.fotos && producto.fotos.length > 0 ? producto.fotos[0].recurso : defaultImage"
        style="height: 250px; width: 80%; object-fit: cover;" class="card-img-top">
    <div class="card-body">
        <div class="mb-3">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text mb-0">Cod. Interno: {{ producto.codigo }}</p>
            <p class="card-text mb-0">Cod. Original: {{ producto.codigo }}</p>
        </div>
        <div class="mb-3">
            <p class="card-text mb-0">Aplicacion: DIMAX 3.0 2.5 DIESEL 05</p>
            <p class="card-text mb-0 fw-bold">MARCA: RKT</p>
        </div>
        <div class="mb-3">
            <h3 class="text-danger mb-0">{{ producto.precio1 | currency }}</h3>
            <ng-container *ngIf="producto.precio1">
                <h5>
                    <span class="text-decoration-line-through me-2">{{ producto.precio1 | currency }}</span>
                    <span class="badge text-white text-bg-danger">{{ producto.descuento }}%</span>
                </h5>
            </ng-container>
            <small>No incluye IVA</small>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <div class="card-footer_one">
            <div class="box-counter">
                <app-rounded-button styleClass="mx-1" (click)="decrement(1)">
                    <i class="fa fa-minus fa-lg"></i>
                </app-rounded-button>
                <input type="text" class="box-counter_input" [id]="producto.codigo" [(ngModel)]="cantidad">
                <app-rounded-button styleClass="mx-1" (click)="increment(1)">
                    <i class="fa fa-plus fa-lg"></i>
                </app-rounded-button>
            </div>
            <span class="box-stock">Stock {{ producto.stock | number }}</span>
        </div>
        <div class="card-footer_actions">
            <button type="button" class="btn-one roboto-medium btn-one_cart">
                A&ntilde;adir al carrito
            </button>
            <a [routerLink]="['/shopping/details', producto.id_producto]" class="btn btn-outline-success roboto-medium btn-one btn-one_outline">
                <i class="fa fa-plus"></i>
                Detalles
            </a>
            <!-- <button type="button" class="btn-one roboto-medium btn-one_outline">
            </button> -->
        </div>
    </div>
</div>



