<div class="card-product">
    <div class="card-header text-center">
        <img [src]="producto.fotos && producto.fotos.length > 0 ? producto.fotos[0].recurso : defaultImage" 
            class="img-fluid" style="height: 100%; object-fit: cover;">
    </div>
    <div class="card-body">
        <div class="card-detail_one">
            <h2 class="card-title roboto-medium">{{ producto.nombre }}</h2>
            <div class="card-code">
                <div class="card-code_item">Cod. Interno: {{ producto.codigo }}</div>
                <div class="card-code_item">Cod. Original: {{ producto.codigo }}</div>
            </div>
        </div>
        <div class="card-detail_two">
            <p class="card-aplic">Aplicacion: DIMAX 3.0 2.5 DIESEL 05</p>
            <p class="card-brand roboto-medium">Marca: MKT</p>
        </div>
        <div class="cardBoxPrice">
            <h3 class="card-price card-price_discount roboto-medium">{{ producto.precio1 | currency }}</h3>
            <div class="flex-price">
                <h3 class="card-price_normal roboto-medium">{{ producto.precio1 | currency }}</h3>
                <span class="card-price_percentage roboto-medium">-{{ producto.descuento }}%</span>
                <small>No incluye IVA</small>
            </div>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <div class="card-footer_one">
            <div class="box-counter">
                <app-rounded-button styleClass="mx-1" (click)="decrement(1)">
                    <i class="fa fa-minus fa-lg"></i>
                </app-rounded-button>
                <input type="text" class="box-counter_input" [id]="producto.codigo" [(ngModel)]="cantidad">
                <app-rounded-button styleClass="mx-1" (click)="increment(1)">
                    <i class="fa fa-plus fa-lg"></i>
                </app-rounded-button>
            </div>
            <span class="box-stock">Stock {{ producto.stock | number }}</span>
        </div>
        <div class="card-footer_actions">
            <button type="button" class="btn-one roboto-medium btn-one_cart">
                A&ntilde;adir al carrito
            </button>
            <a [routerLink]="['/shopping/details', producto.id_producto]" class="btn btn-outline-success roboto-medium btn-one btn-one_outline">
                <i class="fa fa-plus"></i>
                Detalles
            </a>
        </div>
    </div>
</div>
