.card-product {
  height: auto;
  max-width: 320px;
}

.card-header {
  background-color: var(--clr-gray-01);
  height: 300px;
  padding: 20px;
  width: 100%;
}

.card-body {
  padding: 12px 0;
}

.cardBoxPrice {
  height: 86px;
}