<div class="container">
    <div class="alert alert-light">
        <details>
            <summary class="roboto-bold">Credito</summary>
            <div class="row">
                <div class="col-6">
                    <app-cc-input-group label="Estado Credito" styleSpan="size-span-campo">
                        <input type="number" name="" id="" class="form-control" placeholder="0">
                    </app-cc-input-group>
                </div>
                <div class="col-6">
                    <app-cc-input-group label="Cupo Credito" styleSpan="size-span-campo">
                        <input type="number" name="" id="" class="form-control" placeholder="0">
                    </app-cc-input-group>
                </div>
                <div class="col-6">
                    <app-cc-input-group label="Cupo Disponible" styleSpan="size-span-campo">
                        <input type="number" name="" id="" class="form-control" placeholder="0">
                    </app-cc-input-group>
                </div>
                <div class="col-6">
                    <app-cc-input-group label="No. Facturas Vencidas" styleSpan="size-span-campo">
                        <input type="number" name="" id="" class="form-control" placeholder="0">
                    </app-cc-input-group>
                </div>
                <div class="col-6">
                    <app-cc-input-group label="Valores Vencidos" styleSpan="size-span-campo">
                        <input type="number" name="" id="" class="form-control" placeholder="0">
                    </app-cc-input-group>
                </div>
            </div>
        </details>

    </div>
    <div class="row">
        <div class="col-md-3">
            <c-accordion [flush]="true">
                <c-accordion-item #item="cAccordionItem" [visible]="false" class="accordion-item_k"
                    *ngFor="let header of sidebarFilter">
                    <ng-template cTemplateId="accordionHeaderTemplate">
                        <div class="accordion-header_k">
                            <button (click)="item.toggleItem()" [collapsed]="!item.visible" cAccordionButton
                                class="accordion-button_k roboto-bold px-0">
                                {{ header.label }}
                            </button>
                        </div>
                    </ng-template>
                    <ng-template cTemplateId="accordionBodyTemplate">
                        <div class="accordion-body accordion-body_k px-0">
                            <ng-container *ngFor="let items of header.items">
                                <div class="box-filter-item">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" [id]=items.id
                                            [(ngModel)]=items.checked>
                                        <label class="form-check-label" [for]=items.id>
                                            {{ items.label }}
                                        </label>
                                    </div>
                                    <span>({{ items.total }})</span>
                                </div>
                            </ng-container>
                        </div>
                    </ng-template>
                </c-accordion-item>
            </c-accordion>
        </div>
        <div class="col-md-9">
            <div *ngIf="loadingProductos; else showProductos">
                <div class="d-flex justify-content-center w-100">
                    <c-spinner />
                </div>
            </div>
            <ng-template #showProductos>
                <div class="row row-cols-1 row-cols-md-3 g-2 mb-2">

                    <ng-container *ngFor="let producto of productos">
                        <div class="col">
                            <app-vertical-item [producto]="producto"></app-vertical-item>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
            <div class="box-pagination">
                <ngb-pagination [collectionSize]="pagination.length" [pageSize]="pagination.pageSize" [ellipses]="true"
                    [maxSize]="6" [rotate]="true" [boundaryLinks]="true" [(page)]="pagination.page"
                    (pageChange)="changePage($event)">
                </ngb-pagination>
                <div>
                    <small>
                        Mostrando items del {{ pagination.start }} al {{ pagination.end }} 
                        ({{ pagination.pages }} p&aacute;ginas)
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalSearch let-modal>
    <app-search></app-search>
</ng-template>

<ng-template #modalWallet let-modal>
  <app-wallet></app-wallet>
</ng-template>