.s-cart {
  background-color: var(--clr-gray-01);
}

.s-main {
  padding-top: 40px;
}

.title-summary {
  font-size: 20px;
}

.card-summary {
  background-color: var(--clr-white);
  border-radius: 8px;
  padding: 20px;
}

.table-summary {
  width: 100%;
}

.table-summary td {
  padding-bottom: 12px;
}

.table-summary hr {
  margin: 0;
}

.table-summary_mount {
  text-align: end;
}
