<section class="s-main s-cart pb-2">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h2 class="title-summary roboto-medium">Carrito <span class="roboto-regular">({{ itemCount }} productos)</span>
        </h2>
        <div *ngFor="let item of carrito; let i = index">
          <app-cart-item 
            [producto]="item" 
            [incrementarCantidad]="incrementar"
            [decrementarCantidad]="decrementar"
            [removeFromCart]="eliminarProducto" 
          ></app-cart-item>
          <!-- <app-horizontal-item [producto]="item"></app-horizontal-item> -->
          <!-- <div class="card-product card-cart">
            <div class="card-cart_one">
              <div class="card-header">
                <img [src]="item.foto1" alt="Imagen" class="img-fluid">
              </div>
              <div class="card-body">
                <div>
                  <div class="card-detail_one">
                    <h2 class="card-title roboto-medium">{{ item.nombre }}</h2>
                    <div class="card-code">
                      <span class="card-code_item">Cod. Interno: {{ item.codigo }}</span>
                      <span class="card-code_item">Cod. Original: {{ item.codigo }}</span>
                    </div>
                  </div>
                  <div class="card-detail_two">
                    <p class="card-aplic">Aplicación: DIMAX 3.0 2.5 A DIESEL 05</p>
                    <p class="card-brand roboto-medium">Marca: {{ item.marca }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-cat_two">
              <div class="box-counter">
                <button class="btn-counter_sign" (click)="disminuirCantidad(item, i)">-</button>
                <input type="text" [(ngModel)]="item.cantidad" (input)="totalDescuento($event,i)"
                  placeholder="1" class="box-counter_input">
                <button class="btn-counter_sign" (click)="incrementarCantidad(item, i)">+</button>
              </div>
              <span class="box-stock">Stock: {{ item.stock }}</span>
            </div>
            <div class="card-cat-three">
              <div>
                <div class="flex-price roboto-medium">
                  <small class="card-price_discount card-mount">Precio Unit.:</small>
                  <p class="card-price_discount card-price">{{ item.precio1 }}</p>
                </div>
                <div class="flex-price roboto-medium">
                  <small class="card-mount">Dscto. <span class="card-discount">(20%)</span>:</small>
                  <p class="card-number">%12.00</p>
                </div>
                <div class="flex-price roboto-medium">
                  <small class="card-mount">Subtotal:</small>
                  <p class="card-number">%102.00</p>
                </div>
              </div>
              <button class="box-trash" (click)="eliminarProducto(item.id_producto!)">
                <img src="./assets/images/iconos/icon-trash.png" alt="">
              </button>
            </div>
          </div> -->
        </div>

      </div>
      <div class="col-12 col-md-4">
        <div>
          <h2 class="title-summary roboto-medium">Resumen del pedido</h2>
          <div class="card-summary">
            <table class="table-summary">
              <tbody>
                <tr>
                  <td>Subtotal sin impuestos</td>
                  <td class="table-summary_mount">{{ subtotalOrden() | currency }}</td>
                </tr>
                <tr>
                  <td>Subtotal IVA 15%</td>
                  <td class="table-summary_mount">{{ subtotalIvaOrden() | currency }}</td>
                </tr>
                <tr>
                  <td>Subtotal 0%</td>
                  <td class="table-summary_mount">{{ subtotalCeroOrden() | currency }}</td>
                </tr>
                <tr>
                  <td>Descuento</td>
                  <td class="table-summary_mount">{{ descuentoOrden() | currency }}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="table-summary_mount">{{ totalOrden() | currency }}</td>
                </tr>
                <tr>
                  <td>Transporte</td>
                  <td class="table-summary_mount">{{ totalTransporte() | currency }}</td>
                </tr>
                <tr>
                  <td>IVA 15%</td>
                  <td class="table-summary_mount">{{ totalIvaOrden() | currency }}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <hr>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>Total</th>
                  <th class="table-summary_mount">{{ totalFinalOrden() | currency }}</th>
                </tr>
              </tfoot>
            </table>
            <div class="mt-4">
              <button class="btn-one roboto-medium btn-one_cart w-100">Continuar compra</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<ng-template #modalSearch let-modal>
  <app-search></app-search>
</ng-template>