.s-cart {
  background-color: var(--clr-gray-01);
}

.s-main {
  padding-top: 40px;
}

.title-summary {
  font-size: 20px;
}

.card-summary {
  background-color: var(--clr-white);
  border-radius: 8px;
  padding: 20px;
}

.table-summary {
  width: 100%;
}

.table-summary td {
  padding-bottom: 12px;
}

.table-summary hr {
  margin: 0;
}

.table-summary_mount {
  text-align: end;
}

.card-product {
  height: auto;
  max-width: 100%;
}

.card-cart {
  background-color: var(--clr-white);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  max-width: 100%;
  padding: 20px;
}
.card-cart .card-header {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 120px;
}
.card-cart .card-body {
  padding: 0 16px;
  max-width: 320px;
}
.card-cart .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.card-cart .card-detail_two {
  margin-bottom: 0;
}
.card-cart .card-footer_one {
  align-items: flex-start;
  flex-direction: column;
}
.card-cart .flex-price {
  justify-content: end;
}
.card-cart .card-number {
  font-size: 14px;
}
.card-cart .card-mount {
  font-size: 13px;
}
.card-cart .card-price {
  font-size: 18px;
}
.card-cart .card-discount {
  color: var(--clr-danger);
}

.card-cart_one {
  display: flex;
}

.card-cat-three {
  align-items: end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}