<c-header class="mb-2 border-0">
    <c-container fluid class="header-main">
        <img src="./assets/images/logo-aptimo.png" alt="Aptimo" class="header-logo">
    </c-container>
    <c-container fluid class="header-second">
        <c-container class="header-menu">
            <c-breadcrumb-router></c-breadcrumb-router>
            <c-header-nav class="ms-auto">
                <form cForm class="box-search" role="search">
                    <input type="search" class="input-search" placeholder="Buscar por nombre, marca, categoria..."
                        cFormControl sizing="sm" (click)="emitSearch()">
                    <button cButton type="submit" class="btn-search">
                        <img src="assets/images/iconos/icon-search.png" alt="">
                    </button>
                </form>
                <c-nav-item>
                    <div class="box-cart_desktop">
                        <a cNavLink [routerLink]="['/shopping/cart']">
                            <div class="box-cart">
                                <img src="assets/images/iconos/icon-cart.png" alt="" class="icon-cart">
                                <div class="count-cart roboto-medium">{{itemCount}}</div>
                            </div>
                        </a>
                    </div>
                </c-nav-item>
                <c-nav-item>
                    <div class="box-credit_desktop">
                        <div class="box-credit">
                            <button cNavLink class="btn btn-light bg-transparent" (click)="emitWallet()">
                                <img src="assets/images/iconos/icon-credit.png" alt="">
                            </button>
                        </div>
                    </div>
                </c-nav-item>
            </c-header-nav>
        </c-container>
    </c-container>
</c-header>