<div class="p-3">
    <h3>Credito</h3>
    <div class="row">
        <div class="col-6">
            <app-cc-input-group label="Estado Credito" styleSpan="size-span-campo">
                <input type="number" name="" id="" class="form-control" placeholder="0">
            </app-cc-input-group>
        </div>
        <div class="col-6">
            <app-cc-input-group label="Cupo Credito" styleSpan="size-span-campo">
                <input type="number" name="" id="" class="form-control" placeholder="0">
            </app-cc-input-group>
        </div>
        <div class="col-6">
            <app-cc-input-group label="Cupo Disponible" styleSpan="size-span-campo">
                <input type="number" name="" id="" class="form-control" placeholder="0">
            </app-cc-input-group>
        </div>
        <div class="col-6">
            <app-cc-input-group label="No. Facturas Vencidas" styleSpan="size-span-campo">
                <input type="number" name="" id="" class="form-control" placeholder="0">
            </app-cc-input-group>
        </div>
        <div class="col-6">
            <app-cc-input-group label="Valores Vencidos" styleSpan="size-span-campo">
                <input type="number" name="" id="" class="form-control" placeholder="0">
            </app-cc-input-group>
        </div>
    </div>
</div>

