<div class="modal-k_credit">
    <h3 class="card-credit_title roboto-medium mb-0">Cr&eacute;dito</h3>
    <div class="card-credit_body">
        <div class="card-credit_item">
            <div class="col-one">Estado Cr&eacute;dito</div>
            <div class="col-two">
                <cc-currency [currencyOptions]="{min: 0, max: 9999}" [(value)]="credit.estado" />
            </div>
        </div>
        <div class="card-credit_item">
            <div class="col-one">Cupo de Cr&eacute;dito</div>
            <div class="col-two">
                <cc-currency [currencyOptions]="{min: 0, max: 9999}" [(value)]="credit.cupo_credito" />
            </div>
        </div>
        <div class="card-credit_item">
            <div class="col-one">Cupo Disponible</div>
            <div class="col-two">
                <cc-currency [currencyOptions]="{min: 0, max: 9999}" [(value)]="credit.cupo_disponible" />
            </div>
        </div>
        <div class="card-credit_item">
            <div class="col-one">N<sup>o</sup> Facturas Vencidas</div>
            <div class="col-two">
                <cc-currency [currencyOptions]="{min: 0, max: 9999}" [(value)]="credit.facturas_vencidas" />
            </div>
        </div>
        <div class="card-credit_item">
            <div class="col-one">Valores Vencidos</div>
            <div class="col-two">
                <cc-currency [currencyOptions]="{min: 0, max: 9999}" [(value)]="credit.valores_vencidos" />
            </div>
        </div>
    </div>
</div>