// Here you can add other styles
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
    --clr-danger: #ff0000;
    --clr-success: #38a86a;
    --clr-base: #151C2C;
    --clr-action: #4570FC;
    --clr-white: #fff;
    --clr-gray-00: #fafafa;
    --clr-gray-01: #f0f3f5;
    --clr-gray-02: #e4e7ea;
    --clr-gray-03: #d8dee9;
}

.size-span-campo {
    width: 180px;
}

.size-span-print {
    width: 135px;
}

.size-span-otro {
    width: 90px;
}

.transparent-modal .modal-content {
    background: transparent !important;
    border: 0 !important;
}

.custom-accordion-toggler {
    background-color: var(--clr-action) !important;
    color: var(--clr-white) !important;
    font-size: 12px !important;
}

.box-filter-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.card_footer-k {
    background-color: var(--clr-white) !important;
}

.card_footer-k .btn-outline-success:hover {
    color: #fff !important;
}

.accordion-item_k {
    color: var(--clr-base);
}

.accordion-header_k .accordion-button::after {
    background-color: var(--clr-action);
    border-radius: 4px;
    height: 24px;
    width: 24px;
}

.accordion-button_k {
    padding: 8px 0;
}

.accordion-button_k:focus {
    box-shadow: none;
}

.accordion-button_k::after {
    background-image: url('/assets/images/icons/icon-arrow-down.png') !important;
    background-position: center;
}

.accordion-button_k:not(.collapsed)::after {
    background-image: url('/assets/images/icons/icon-arrow-down.png') !important;
    background-position: center;
}

.accordion-header_k .accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
}